<%- include('includes/_header') %>

    <head>
        <%- include('layouts/head') %>
    </head>


    <body>
                <div id="back-button">
                    <div class="filter">
                        <a class="text-black" href="/quizzes"><i class="fas fa-angle-double-left text-black"></i> Back to
                            Quizzes</a>
                    </div>
                </div>
        <div id="email-form-greeting">
            <%- include('layouts/welcome') %>
        </div>

        <br>
        <h2>Candidate Quiz</h2>


        <p>
            Employer Name: <%=login_name %>
        </p>
        <p>
            Quiz Name: <%= quiz.name %> 
        </p>
        <p>
          ID: <%= id %>
        </p>
        <p>
           QuizID:  <%= id %>
        </p>

        <p>
            Owner: <%= owner %>
        </p>

        <% 
            let multiple = 0;
            let true_false = 0;
            let check_all = 0;
            let fill = 0;
        %>
        <card class="card-body" id="quiz-cards">

            <ul class="list-group">
                <% questions.forEach(question=> { %>
                    <li class="list-group-item card">
                        <div class="card-header">
                            <%= question.prompt %>
                        </div>
                        <div class="card-body">
                            <form>
                            <!-- MULTIPLE CHOICE -->
                            <% if (question.type == "multiple_choice") { %>
                                <% 
                                    question.choices.push(question.answer); 
                                    let shuffled = [].concat(question.choices);
                                    shuffled.sort(() => {
                                        return 0.5 - Math.random();
                                    });
                                %>

                                <% for (let i = 0; i < 4; i++) { %>
                                    <% 
                                        let current_radio = "mc_" + String(multiple) + String(i);
                                        let current_value = shuffled[i];
                                     %>
                                    <label for=<%=current_radio%>><%=current_value%></label>
                                    <input type="radio" name=<%= "mc_" + multiple %> id=<%= current_radio %> value=<%= current_value %> >

                                <% } %>
                                <% multiple += 1; %>

                            <!-- TRUE/FALSE -->
                            <% } else if (question.type == "true_or_false") { %>
                                <label for=<%= "true" + true_false %>>True</label>
                                <input type="radio" name=<%= "tf_" + true_false %> id=<%= "true" + true_false %> value="true">
                                <label for=<%= "false" + true_false %>>False</label>
                                <input type="radio" name=<%= "tf_" + true_false %> id=<%= "false" + true_false %> value="false">
                                <% true_false += 1; %>
                            <!-- CHECK ALL THAT APPLY -->
                            <% } else if (question.type == "check_all") { %>
                                <% 
                                    question.answer_multiple.forEach(answer => {
                                        question.choices.push(answer);
                                    });
                                    let shuffled = [].concat(question.choices);
                                    shuffled.sort(() => {
                                        return 0.5 - Math.random();
                                    });
                                %>

                                <% for (let i = 0; i < 4; i++) { %>
                                    <% 
                                        let current_check = "check_" + String(check_all) + String(i);
                                        let current_value = shuffled[i];
                                    %>
                                    <label for=<%=current_check%>><%=current_value%></label>
                                    <input type="checkbox" name=<%= "check_" + check_all %> id=<%= current_check %> value=<%= current_value %> >

                                <% } %>
                                <% check_all += 1; %>


                            <!-- FILL IN THE BLANK -->
                            <% } else if (question.type == "fill") { %>
                                <input type="text" name=<%= "fill_" + fill %> placeholder="Type answer here" required>

                            <% } %>
                            </form>
                        </div>
                    </li>
                    <hr>
                <% }) %>
            </ul>

        </card>

            <!-- Submission Button -->
            <div class="manage-quiz-button">
                    <input type="hidden" name="quiz" value=<%= id %>>
                    <input type="hidden" name="name" value=<%= quiz.name %>>
                <a id="manage-quiz-button" href=<%="/contact?id=" + id %> class="btn btn-success">Send Quiz</a>

            </div>
            <%- include('includes/_footer') %>

    </body>