<%- include('includes/_header') %>

    <head>
        <%- include('layouts/head') %>
    </head>


    <body>
            <div id="email-form-greeting">
                <%- include('layouts/welcome') %>
            </div>
            <h1>Candidate Quiz</h1>

            <p>
                <%- owner %>
            </p>
            <p>
                <%- name %>
            </p>
        <card class="card-body" id="quiz-cards">

            <!-- OUTER LOOP -->
            <% questions.forEach((question,i)=> { %>

                <div id="quiz-card-background">
                    <form id="d1">
                        <h5>
              <%= i + 1 %>) 
                            <%= question.prompt  %>
                        </h5>
                        <hr>
                        <p>
                            <input type="radio" name="choice" value="Programming">

                            <%= question.answer %>
                        </p>



                            <!-- INNER LOOP -->
                            <% question.choices.forEach(choice=> { %>
                                  
                                <p>  <input type="radio" name="choice" value="Programming">

                                    <%=choice%>
                                </p>
                  

                                    <% }) %>
                                        <hr>
                                        <input type="submit" value="submit" class="btn btn-success"
                                            id="quiz-card-button" )> <br>
                    </form>
        </card>

        </div>
        <br>
        <% }) %>
        </card>


            <!-- Submission Button -->
            <div class="manage-quiz-button">
                <a id="manage-quiz-button" href="#" class="btn btn-success">Take Quiz</a>

            </div>
            <%- include('includes/_footer') %>

    </body>