<%- include('includes/_header') %>

<head>
  <%- include('layouts/head') %>
</head>
<body>
    <%- include('layouts/welcome') %>
    <main class="main3">
            <%- include('layouts/email_form') %>
    </main>

</body>

<%- include('includes/_footer') %>