<%- include('includes/_header') %>

  <head>
    <%- include('layouts/head') %>
  </head>

  <body>
  <div id="back-button-home">
    <div class="filter">
      <a class="text-black" href="/"><i class="fas fa-angle-double-left text-black"></i> Home</a>
    </div>
  </div>


    <div id="email-form-greeting">
      <%- include('layouts/welcome_light') %>
    </div>

    <main class="email-form" id="question-form">
      <div class="container-fluid setup-bg d-flex flex-column">
        <div class="row justify-content-center">
          <div class="container">
            <div id="welcome">
              <div class="row">
                <div class="col">
                  <!-- include('layouts/email_msg') HERE -->
                  <div>
                    <a href="/">
                      <%- include('layouts/email_msg') %>
                    </a>
                  </div>

                  <%- include('layouts/email_form') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="../utils/email.js"></script>
  </body>

  <%- include('includes/_footer') %>