<head>
    <%- include('layouts/head') %>
</head>

<%- include('includes/_header') %>

<body>
    <%- include('layouts/welcome') %>
    <a href="/quizzes" class="btn btn-success">Manage Quizzes</a>
    <div class="main">
        <form action="/create_quiz" method="POST">
            <input type="text" name="name" placeholder="Quiz Name" />
            <input type="hidden" name="owner" value=<%= email %> />
            <button>Create</button>
        </form>
    </div>
</body>

<%- include('includes/_footer') %>