<head>
    <%- include('layouts/head') %>
</head>

<%- include('includes/_header') %>

    <body id="body4">
        
                <div class="container-fluid">  <div id="back-button">
                    <div class="filter">
                        <a class="text-white" href="/quizzes"><i class="fas fa-angle-double-left text-white"></i> Back to
                            Quizzes</a>
                    </div>
                </div></div>
              
        <div class="create-quiz-page1">
            <div class="container-fluid setup-bg d-flex flex-column">
                <div class='row justify-content-center'>
                    <div class="container my-auto">
                        <div class="container">
                            <div id="welcome-create-quiz">
                                <%- include('layouts/welcome_light') %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
             <div class="manage-quiz-title">

                 <div id="">
                     <h3 class="title-page1">Create</h3>
                 </div>
            <hr id="index-title-hr">
                 <div id="">
                     <span>
                         <h3 class="title-page1">Quiz</h3>
                     </span>
                 </div>
             </div>
        <div class="main"
        id="question-form">
            <form action="/create_quiz" method="POST">
                <input type="text" name="name" placeholder="Quiz Name" required />
                <input type="number" name="timer" placeholder="Time limit in minutes" min="1" required>
                <input type="hidden" name="owner" value=<%=email %> />
                <button id="manage-quiz-button">Create</button>
            </form>
        </div>
    </body>

    <%- include('includes/_footer') %>