<%- include('includes/_header') %>

<head>
    <%- include('layouts/head') %>
</head>

<body id="body8">
            <div class="container-fluid">
                <div id="back-button">
                    <div class="filter">
                        <a class="text-black" href="/quizzes"><i class="fas fa-angle-double-left text-black"></i> Back to
                            Quizzes</a>
                    </div>
                </div>
            </div>
    <div id="email-form-greeting">
            <%- include('layouts/welcome_light') %>
    </div>
    <div class="manage-quiz-title">
        <div>
            <h3 class="title-page1">Edit</h3>
        </div>
        <hr id="index-title-hr">
        <div>
            <h3 class="title-page1">Quiz</h3>
        </div>
    </div>
    <div class="main">
        <form action="/edit_quiz" method="POST">
            <h5><u>Quiz name</u></h5>
            <input type="text" name="name" value="<%= quiz.name %>" required>
            <h5><u>Time Limit</u></h5>
            <input type="number" name="timer" value="<%= quiz.timer %>" required>
            <input type="hidden" name="quiz" value=<%= id %> >
            <button>Save</button>
        </form>
    </div>
</body>

<%- include('includes/_footer') %>
