<head>
  <%- include('layouts/head') %>


    <%- include('includes/_header') %>

</head>

<body id="body1">
  <div class="index-page">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto" id="index-first-row">
          <!-- 1 of 3 rows -->
          <div class="container-fluid setup-bg d-flex flex-column" >
            <div class='row justify-content-center'>
              <div class="container my-auto">
                <div class="container ">
                  <div id="welcome">
                    <div class="row ">
                      <div class="col ">
                        <%- include('layouts/welcome_light') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="animation">
            <h1 class="title-page1">Software</h1>
          </div>
          <hr id="index-title-hr">
          <div id="animation">
            <span>
              <h1 class="title-page1">Programming Quiz</h1>
            </span>
          </div>




          <section id="section-index">
            <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col flex-column">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title">Manage Quizzes for Candidates</h5>
                    <p class="card-text" id="card-width-text">Navigate here to create and edit quizzes for candidates.
                    </p>


                    <div class="card-footer"><a id="manage-quiz-button1" href="/quizzes"
                        class="btn btn-success align-self-end">Manage

                        Quizzes</a></div>
                  </div>
                </div>
              </div>

              <div class="col flex-column">
                <div class="card h-100">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Candidate Test Results Rankings</h5>
                    <p class="card-text" id="card-width-text">Get the quiz stats from your individual candidates. Veiw
                      tables on the results page.</p>

                    <div class="card-footer"> <a id="manage-quiz-button1" href=<%="/quiz_results?id=" + users.id %>
                        id="question-form"

                        class="btn btn-primary align-self-end ">Get Results</a></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- ====================== BACK BUTTON ==============================-->



          <div class="col-md-auto" id="index-third-row">
            <!-- 3 of 3 rows -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include('includes/_footer') %>