<%- include('includes/_header') %>

    <head>
        <%- include('layouts/head') %>
    </head>

    <body>

        <div class="main" id="question-form">
            
            <h1>
                <%=login_form_greeting %>
            </h1>
            <% if (messages) { %>
                <p>
                    <%= messages.error %>
                </p>
                <% } %>


                    <form action="/login" method="POST">
                        <input type="email" name="email" placeholder="name@gmail.com" required />
                        <input type="password" name="password" placeholder="* * * * * *" required />
                        <button id="question-form">SIGN IN</button>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                                <!-- Checkbox -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="form2Example31"
                                        checked />
                                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                                </div>
                            </div>

                            <div class="col">
                                <!-- Simple link -->
                                <a href="#!">Forgot password?</a>
                            </div>
                        </div>
                        <a href="/register">Create Account</a>
                    </form>

        </div>
    </body>
    <%- include('includes/_footer') %>