<%- include('includes/_header') %>

    <head>
        <%- include('layouts/head') %>
    </head>


    <body>
        <div id="quiz-greeting">
            <%- include('layouts/welcome') %>
        </div>
        <div id="back-button">
            <div class="filter">
                <a class="text-black" href="/"><i class="fas fa-angle-double-left text-black"></i> Home</a>
            </div>
        </div>
        <div class="create-quiz-page">
            <h2 id="your-quizzes-text">Your Quizzes:</h2>
            <ul class="list-group" id="question-form">
                <% quizzes.forEach(quiz=> { %>
                    <li class="list-group-item">
                        <a id="question-form" class="btn btn-primary" href=<%="/quiz?id=" + quiz._id %>>
                          
                                <%= quiz.name %>
                            
                        </a>
                    </li>
                    <% }) %>
            </ul>
        </div>
        <div class="card" id="new-quiz-card">
            <div class="card-header">
                Add Quiz
            </div>
            <div class="card-body">
                <h5 class="card-title">Add a new quiz for new candidates</h5>
                <p class="card-text"></p>
                <a href="/create_quiz" id="question-form" class="btn btn-success">Create New Quiz</a>

            </div>
        </div>
    </body>

    <%- include('includes/_footer') %>