<%- include('includes/_header') %>

    <head>
        <%- include('layouts/head') %>
    </head>


    <body>

        <div id="email-form-greeting">
            <%- include('layouts/welcome') %>
        </div>
        <div id="back-button">
            <div class="filter">
                <a class="text-black" href="/quizzes"><i class="fas fa-angle-double-left text-black"></i> Back to
                    Quizzes</a>
            </div>
        </div>
        <a href="/quizzes" class="btn btn-success">Manage Quizzes</a>
        <a href=<%="/create_question?id=" + id %> class="btn btn-success">Create Question</a>
        <a class="btn btn-danger" href=<%="/delete_quiz?id=" + id%> >Delete Quiz</a>
        <div class="main">
            <h2>Questions</h2>
            <ul class="list-group">
                <% questions.forEach(question=> { %>
                    <li class="list-group-item card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= question.prompt %>
                                    <a class="btn btn-primary" href=<%="/question?id=" + question._id%> >Edit</a>
                                    <a class="btn btn-danger" href=<%="/delete_question?id=" + question._id%>
                                        >Delete</a>
                            </h5>
                        </div>

                    </li>
                    <% }) %>
            </ul>
        </div>
    </body>

    <%- include('includes/_footer') %>