<%- include('includes/_header') %>

    <head>
        <%- include('layouts/head') %>
    </head>


    <body id="body3">
        <div class="container-fluid">
            <div id="back-button">
                <div class="filter">
                    <a class="text-black" href="/quizzes"><i class="fas fa-angle-double-left text-black"></i> Back to
                        Quizzes</a>
                </div>
            </div>
        </div>
        <div id="email-form-greeting">
            <%- include('layouts/welcome') %>
        </div>
        <div>
            <h1 id="quiz-page-header">
                <%= quiz.name %> Quiz
            </h1>
        </div>
        <div class="manage-quiz-title">
            <div id="">
                <h3 class="title-page">Add Question, View Quiz </h3>
            </div>
            <hr>
            <div id="">
                <span>
                    <h3 class="title-page">Edit Quiz, Delete Quiz</h3>
                </span>
            </div>
        </div>


        <div class="container ">
            <div class="table-responsive ">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col ">Title</th>
                            <th scope="col">Explanation</th>
                            <th scope="col-2 ">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Manage Quiz</strong></td>
                            <td>View the collection of quizzes</td>
                            <td>
                                <a class="" style="color:black" href="/quizzes ">
                                    <i id="manage-quiz-button-icon" class="fab fa-solid fa-list-check "></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td> <strong>Edit Quiz</strong> </td>
                            <td>Change name or time limit of quiz</td>
                            <td>
                                <a class="" style="color: blue" href=<%="/edit_quiz?id=" + id %>>
                                    <i id="manage-quiz-button-icon" class="fab fa-solid fa-pencil "> </i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Add Questions</strong></td>
                            <td>Add new questions to a quiz</td>
                            <td>

                                <a class="" style="color: black" href=<%="/create_question?id=" + id %>>
                                    <i id="manage-quiz-button-icon" class="fab fa-solid fa-plus "> </i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>View Quiz</strong></td>
                            <td> <strong id="manage-quiz-td">*** Check the quiz content before sending the quiz to the
                                    candidate.***</strong> </td>
                            <td>
                                <a class="" style="color: black" href=<%="/candidate_quiz?id=" + id %>>
                                    <i id="manage-quiz-button-icon" class="fab fa-solid fa-eye "> </i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>View Rankings</strong></td>
                            <td>View candidate rankings for this quiz</td>
                            <td>
                                <a class="" style="color: yellow" href=<%="/quiz_stats?id=" + id %>>
                                    <i id="manage-quiz-button-icon" class="fab fa-solid fa-trophy "> </i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Delete Quiz</strong></td>
                            <td>Permanently remove your quiz from the database</td>
                            <td>
                                <a class="" style="color: red" href=<%="/delete_quiz?id=" + id%>>
                                    <i id="manage-quiz-button-icon" class="fab fa-solid fa-trash-can "> </i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="manage-quiz-title">
            <div id="">
                <h3 class="title-page">Edit Question </h3>
            </div>
            <hr>
            <div id="">
                <span>
                    <h3 class="title-page"> Delete Question</h3>
                </span>
            </div>
        </div>
        <div class=" main ">
            <h2>Questions</h2>
            <ul class="list-group ">
                <% questions.forEach(question=> { %>
                    <li class="list-group-item card ">
                        <div class="card-body ">
                            <h5 class="card-title ">
                                <%= question.prompt %>
                                    <a class="btn btn-primary " id="question-form" href=<%="/question?id=" +
                                        question._id%>>Edit</a>
                                    <a class=" btn btn-danger" id="question-form" href=<%="/delete_question?id=" +
                                        question._id%>>Delete</a>
                            </h5>
                        </div>
                    </li>
                    <hr>
                    <% }) %>
            </ul>
        </div>
    </body>
    <%- include('includes/_footer') %>