<%- include('includes/_header') %>

<head>
    <%- include('layouts/head') %>
</head>


<body>
      <%- include('layouts/welcome') %>
    <a href="/create_quiz" class="btn btn-success">Create New Quiz</a>
    <div class="main">
        <h2>Your Quizzes:</h2>
        <% quizzes %>
        <% quizzes.forEach(quiz => { %>
        <a class="btn btn-primary" href=<%= "/quiz/" + quiz._id %> >
            <h5> <%= quiz.name %> </h5>
        </a>
        <% }) %>
    </div>
</body>

<%- include('includes/_footer') %>