<body id="body11">
    <%- include('includes/_header') %>

        <head>
            <%- include('layouts/head') %>
        </head>



        <div class="container-fluid">
            <div id="back-button-home">
                <div class="filter">
                    <a class="text-white" href="/"><i class="fas fa-angle-double-left text-white"></i> Home</a>
                </div>
            </div>
        </div>

        <div id="quiz-greeting">
            <%- include('layouts/welcome_light') %>
        </div>

        <div class="create-quiz-page">
            <div class="manage-quiz-title">

                <div id="">
                    <h3 class="title-page1">Employer</h3>
                </div>
                <hr>
                <div id="">
                    <span>
                        <h3 class="title-page1">Quiz List</h3>
                    </span>
                </div>
            </div>

            <ul class="list-group">
                <% quizzes.forEach(quiz=> { %>


                    <div class="card" id="new-quiz-card">
                        <div class="card-header">
                            <h5>
                                <%= quiz.name %> Quiz
                            </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-title">View, Edit, Delete Quiz</p>
                            <p class="card-text"></p>
                            <a id="question-form" class="btn btn-primary" href=<%="/quiz?id=" + quiz._id %>><%=
                                    quiz.name %></a>

                        </div>
                    </div>


                    <% }) %>
            </ul>
        </div>

        <div class="card" id="new-quiz-card">
            <div class="card-header">
                <h5>Add Quiz</h5>
            </div>
            <div class="card-body">
                <p class="card-title">Add a new quiz for new candidates</p>
                <p class="card-text"></p>
                <a href="/create_quiz" id="question-form" class="btn btn-success">Create New Quiz</a>

            </div>
        </div>
</body>

<%- include('includes/_footer') %>