<head>
    <%- include('layouts/head') %>
        <%- include('includes/_header') %>
</head>


<body>
    <div class="container-xl py-md-5">



        <!--  -->
        <!-- ====================== BACK BUTTON ==============================-->
        <div id="quiz-greeting">
            <div id="back-button">
                <div class="filter">
                    <a class="text-white" href="/"><i class="fas fa-angle-double-left text-white"></i>
                        Home</a>
                </div>
            </div>
        </div>




        <!-- ====================== WELCOME BUTTON ==============================-->

        <section id="">
            <div class="container-fluid setup-bg d-flex flex-column">
                <div class='row justify-content-center'>
                    <div class="container my-auto">
                        <div class="container ">
                            <div id="welcome">
                                <div class="row ">
                                    <div class="col ">
                                        <%- include('layouts/welcome_light') %>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- ====================== MAIN TITLE ==============================-->


            <section id="titles">

                <div class="col-sm-12" id="">
                    <!-- 2 of 3 rows -->
                    <div class="manage-quiz-title">

                        <div id="">
                            <h3 class="title-page1">Quiz</h3>
                        </div>
                        <hr id="index-title-hr">
                        <div id="">
                            <span>
                                <h3 class="title-page1">Results</h3>
                            </span>
                        </div>
                    </div>

                    <div class="row" id="results-row">

                        <div class="col-sm-12">

                        </div>
                    </div>
                </div>


                <!-- ====================== CARD ==============================-->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Candidate Results</h4>
                        <hr id="survey-hr2">
                        <p class="card-text">The results of the quizzes are are ranked in descending order. The Candidates with the best quiz results are displayed in the table below</p>
                        <!-- <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Employers
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Donnyves</a></li>
                                <li><a class="dropdown-item" href="#">Dominique</a></li>
                                <li><a class="dropdown-item" href="#">Aaron</a></li>
                            </ul>
                        </div> -->
                    </div>

                </div>

                <!-- ====================== TABLE TITLE ==============================-->

                <div class="manage-quiz-title">

                    <div id="">
                        <h3 class="title-page1">Candidate</h3>
                    </div>
                    <hr id="index-title-hr">
                    <div id="">
                        <span>
                            <h3 class="title-page1">Rankings</h3>
                        </span>
                    </div>
                </div>

            </section>



            <!-- ====================== TABLE ==============================-->
            <div class="container-fluid ">
                <div class="table-responsive ">
                    <table class=" table ">
                        <thead class="thead-dark">
                            <tr>
                                <th id="th1">Rank</th>
                                <th id="th1">FirstName</th>
                                <th id="th1">LastName</th>
                                <th id="th1">@Email</th>
                                <th id="th1">Quiz</th>
                                <th id="th1">Grade</th>
                                <th id="th1">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Use EJS to display <tr> and <td> data from _show.ejs -->


                            <!-- TABLE DATA -->
                            <% for(var i=0; i < quiz_instance.length; i++) { %>
                                <tr>
                                    <td id="td1">
                                        <%= i + 1 %>
                                    </td>
                                    <td id="td1">
                                        <%= quiz_instance[i].firstName %>
                                    </td>
                                    <td id="td1">
                                        <%= quiz_instance[i].lastName %>
                                    </td>
                                    <td id="td1">
                                        <%= quiz_instance[i].email %>
                                    </td>
                                    <td id="td1">
                                        <%= quiz_names[quiz_instance[i].quiz] %>
                                    </td>

                                    <td id="td1"> <%= (quiz_instance[i].grade *100).toFixed(2)%>%

                                    </td>

                                    <td id="td1">
                                        
                                    <a id="manage-quiz-button-icon" class="" style="color: ghostwhite" href=<%="/candidate_stats?id=" + quiz_instance[i]._id %>>
                                        <i class="fab fa-solid fa-eye "> </i>
                                    </a>
                                
                                </td>

                                </tr>
                                <% } %>
                                    <!-- TABLE DATA END-->
                        </tbody>
                    </table>
                </div>
            </div>






            <%- include('includes/_footer') %>
    </div>
</body>