<%- include('includes/_header') %>

<head>
    <%- include('layouts/head') %>
</head>


<body>
      <%- include('layouts/welcome') %>
    <a href="/create_quiz" class="btn btn-success">Create New Quiz</a>
    <div class="create-quiz-page">
        <h2>Your Quizzes:</h2>
        <ul class="list-group">
            <% quizzes.forEach(quiz => { %>
            <li class="list-group-item">
                <a class="btn btn-primary" href=<%= "/quiz/" + quiz._id %> >
                <h5> <%= quiz.name %> </h5>
                </a>
            </li>
            <% }) %>
        </ul>
    </div>
</body>

<%- include('includes/_footer') %>