<%- include('includes/_header') %>

    <head>
        <%- include('layouts/head') %>
    </head>


    <body>
        <div class="container-fluid">
            <div id="back-button-home">
                <div class="filter">
                    <a class="text-black" href="/index"><i class="fas fa-angle-double-left text-black"></i> Home</a>
                </div>
            </div>
        </div>

        <div id="quiz-greeting">
            <%- include('layouts/welcome') %>
        </div>

        <div class="create-quiz-page">
            <div class="manage-quiz-title">

                <div id="">
                    <h3 class="title-page">Employer</h3>
                </div>
                <hr>
                <div id="">
                    <span>
                        <h3 class="title-page">Quiz List</h3>
                    </span>
                </div>
            </div>

            <ul class="list-group" id="question-form">
                <% quizzes.forEach(quiz=> { %>
                    <li class="list-group-item">
                        <a id="question-form" class="btn btn-primary" href=<%="/quiz?id=" + quiz._id %>>

                            <%= quiz.name %>

                        </a>
                    </li>
                    <% }) %>
            </ul>
        </div>
        <div class="card" id="new-quiz-card">
            <div class="card-header">
                <h5>Add Quiz</h5>
            </div>
            <div class="card-body">
                <p class="card-title">Add a new quiz for new candidates</p>
                <p class="card-text"></p>
                <a href="/create_quiz" id="question-form" class="btn btn-success">Create New Quiz</a>

            </div>
        </div>
    </body>

    <%- include('includes/_footer') %>