<%- include('includes/_header') %>

    <head>

        <%- include('layouts/head') %>
            <title>Register</title>
        <link rel=icon href=/icons/mountain-favicon.ico>
    </head>

    <body id="body1">
<div class="app-container container-fluid">


</div>
        <div class="main" id="question-form">
            <h1>
                <%=register_form_greeting %>
            </h1>

            <% if (messages) { %>
                <p>
                    <%= messages.error %>
                </p>
                <% } %>

                    <form action="/register" method="POST">

                        <input type="name" name="login_name" placeholder="Name" required />
                        <input type="email" name="email" placeholder="example@gmail.com" required />
                        <input type="password" name="password" placeholder="* * * * * *" required />
                        <button id="question-form">SIGN UP</button>
                        <a href="/login">Back to Login</a>
                    </form>
        </div>
    </body>
    <%- include('includes/_footer') %>