<head>
    <%- include('layouts/head') %>
</head>

<body id="body5">




    <% 
        let multiple = 0;
        let true_false = 0;
        let check_all = 0;
        let fill = 0;
    %>
    <div class="bg-secondary"></div>
    <div class="bg-lighten-xl"></div>

    <div class="manage-quiz-title">
    
        <div id="">
            <h1 class="title-page1"> <%= quiz.name %></h1>
        </div>
    <hr id="index-title-hr">
        <div id="">
            <span>
                <h1 class="title-page1">Quiz</h1>
            </span>
        </div>
    </div>
    


    <% if (complete) { %>
            <div class="manage-quiz-title">
            
                <div id="">
                    <h1 class="title-page1">Your Quiz Attempt</h1>
                </div>
                <hr>
                <div id="">
                    <span>
                        <h1 class="title-page1">Has Already Been Used!</h1>
                    </span>
                </div>
            </div>
      
    <% } else { %>
    <h3 	 class="text-white">Welcome to your quiz <%= quiz_instance.firstName %>
        <%= quiz_instance.lastName %>
            </h3>

    <input type="hidden" id="time" value=<%= quiz.timer %>>
    <h3>Time Left: <span id="timer"></span></h3>
    

    <form action="take_quiz" method="POST">
        <card class="card-body" id="quiz-cards">
            <ul class="list-group">
                
                <% questions.forEach(question=> { %>
                    <li class="list-group-item card"id="quiz-card-background" >
                        <div class="card-header">
                            <h5><%= question.prompt %></h5> 
                        </div>
                        <div class="card-body">
                            
                            <!-- MULTIPLE CHOICE -->
                            <% if (question.type == "multiple_choice") { %>
                                <% 
                                    question.choices.push(question.answer); 
                                    let shuffled = [].concat(question.choices);
                                    shuffled.sort(() => {
                                        return 0.5 - Math.random();
                                    });
                                %>

                                <input type="hidden" name=<%= question._id %> value=''>

                                <% for (let i = 0; i < 4; i++) { %>
                                    <% 
                                        let current_radio = "mc_" + String(multiple) + String(i);
                                        let current_value = shuffled[i];
                                    %>
        
                                    <label for=<%=current_radio%>>
                                    <input type="radio" name=<%= question._id %> id=<%= current_radio %> value=<%= current_value %> > <%=current_value%> </label>

                                <% } %>
                                <% multiple += 1; %>

                            <!-- TRUE/FALSE -->
                            <% } else if (question.type == "true_or_false") { %>

                                <input type="hidden" name=<%= question._id %> value=''>

                                <!-- TRUE -->
                                <label for=<%= "true" + true_false %>>      <input type="radio" name=<%= question._id %> id=<%= "true" + true_false %> value="true"> True</label>
                            
                                <!-- FALSE -->
                                <label for=<%= "false" + true_false %>>    <input type="radio" name=<%= question._id %> id=<%= "false" + true_false %> value="false">  False</label>
                            
                                <!-- INCREMENT -->
                                <% true_false += 1; %>

                            <!-- CHECK ALL THAT APPLY -->
                            <% } else if (question.type == "check_all") { %>
                                <% 
                                    question.answer_multiple.forEach(answer => {
                                        question.choices.push(answer);
                                    });
                                    let shuffled = [].concat(question.choices);
                                    shuffled.sort(() => {
                                        return 0.5 - Math.random();
                                    });
                                %>
                                <input type="hidden" name=<%= question._id %> value=''>
                                <% for (let i = 0; i < 4; i++) { %>
                                    <% 
                                        let current_check = "check_" + String(check_all) + String(i);
                                        let current_value = shuffled[i];
                                    %>
                                    <label for=<%=current_check%>>       <input type="checkbox" name=<%= question._id %> id=<%= current_check %> value=<%= current_value %> > <%=current_value%></label>
                                

                                <% } %>
                                <% check_all += 1; %>

                            <!-- FILL IN THE BLANK -->
                            <% } else if (question.type == "fill") { %>
                                <input type="hidden" name=<%= question._id %> value=''>
                                <input class="contact-form-text" type="text" name=<%= question._id %> placeholder="Type answer here">
                                <% fill += 1; %>
                            <% } %>                           
                        </div>
                    </li>
                    <hr>
                <% }) %>
            
            </ul>

    </card>


        <input type="hidden" name="id" value=<%= id %> ><br>
    <button class="btn btn-primary" id="submitQuiz">Submit Quiz</button>
</form>
<% } %>

</body>

<script src="js/take_quiz.js"></script>

